{% extends "layout.html" %}
{% block title %}
    Class {{ name }}
{% endblock %}
{% block content %}
    {% if error != 0 %}
    Error, Class not found<br>
    Error code {{ error }}
    {% else %}
    <h1>Class {{ name }}</h1><br>
    {{ description }}<br>
    Parent Phylum: <a href="/phylum/{{ phylum }}">Phylum {{ phylum }}</a><br>
    <h1>Orders</h1>
    <ul>
        {% for order in orders %}
            <li><a href="/order/{{ order }}">Order {{ order }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}