{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block nav %}
    <b>Home</b> &sol; <a href="/more_data">More Data</a>
{% endblock %}
{% block content %}
    <h1>theTaxonomist v0.3.17</h1>
    Hi, welcome to theTaxonomist! Here you'll find all kinds of stuff about...<br>
    <i>Taxonomy</i><br><br>
    Start <a href="/kingdom/plantae">Here!</a><br>
    Plants are usually categorized as a "kingdom" of plants.<br>
    That kingdom is divided into the phylum (pl. phyla).<br>
    In turn phyla are divided into classes, which are divided into orders, which are divided into families,<br>
    Which in turn are divided into the genus (pl. genera), which are divided into species.<br>
    We currently have...<br>
    <ul>
        <li>{{ phylums }} of 14 extant phyla or {{ phylums_percentage }}%</li>
        <li>{{ classes }} of 36 extant classes or {{ classes_percentage }}%</li>
        <li>{{ orders }} orders</li>
        <li>{{ families }} families</li>
        <li>{{ genera }} genera</li>
        <li>{{ species }} of about 400,000 described species or about {{ species_percentage }}%</li>
    </ul>
{% endblock %}