{% extends "layout.html" %}
{% block title %}
    More Data
{% endblock %}
{% block nav %}
    <a href="/">Home</a> &sol; <b>More Data</b>
{% endblock %}
{% block content %}
    <h1>More Data</h1>
    1 human<br>
    &#126;5,000 mammals (incl. humans and dolphins)<br>
    &#126;7,500 amphibians<br>
    &#126;10,000 reptiles<br>
    &#126;10,000 birds<br>
    &#126;30,000 fish<br>
    &#126;62,500 vertebrates<br>
    &#126;1,000,000 insects<br>
    &gt;2,000,000 animals<br><br>
    &gt;500,000 plants<br>
    &gt;250,000 flowering plants<br>
    &gt;200,000 dicots<br>
    &gt;300 rose species<br><br>
    &gt;2,500,000 eukaryotes<br><br><br>
{% endblock %}