{% extends "layout.html" %}
{% block title %}
    Phylum {{ name }}
{% endblock %}
{% block content %}
    {% if error != 0 %}
        Error, Phylum not found<br>
        Error code {{ error }}
    {% else %}
    <h1>Phylum {{ name }}</h1><br>
    {{ description }}<br>
    Parent Kingdom: <a href="/kingdom/{{ kingdom }}">Kingdom {{ kingdom }}</a><br>
    <h1>Classes</h1>
    <ul>
        {% for class_ in classes %}
            <li><a href="/class/{{ class_ }}">Class {{ class_ }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}