{% extends "layout.html" %}
{% block title %}
    {{ genus }} {{ name }}
{% endblock %}
{% block content %}
    {% if error != 0 %}
    Error, Species not found<br>
    Error code {{ error }}
    {% else %}
    <h1><i>{{ genus }} {{ name }}</i></h1><br>
    {{ description }}<br>
    <a href="/kingdom/{{ kingdom }}">Kingdom {{ kingdom }}</a>
    <a href="/phylum/{{ phylum }}">Phylum {{ phylum }}</a>
    <a href="/class/{{ class_ }}">Class {{ class_ }}</a>
    <a href="/order/{{ order }}">Order {{ order }}</a>
    <a href="/family/{{ family }}">Family {{ family }}</a><br>
    <a href="/genus/{{ genus }}">Genus {{ genus }}</a><br>
    {% endif %}
{% endblock %}