{% extends "layout.html" %}
{% block title %}
    {{ genus }} {{ name }}
{% endblock %}
{% block nav %}
    <a href="/">Home</a> &gt; <a href="/kingdom/{{ kingdom }}">Kingdom {{ kingdom }}</a> &gt; {% if kingdom == "plantae" %}<a href="/phylum/{{ phylum }}">Division {{ phylum }}</a>{% else %}<a href="/phylum/{{ phylum }}">Phylum {{ phylum }}</a>{% endif %} &gt; <a href="/class/{{ class_ }}">Class {{ class_ }}</a> &gt; <a href="/order/{{ order }}">Order {{ order }}</a> &gt; <a href="/family/{{ family }}">Family {{ family }}</a> &gt; <a href="/genus/{{ genus }}"><i>{{ genus.title() }}</i></a> &gt; <b><i>{{ genus.title() }} {{ name }}</i></b>
{% endblock %}
{% block content %}
    {% if error != 0 %}
    Error, Species not found<br>
    Error code {{ error }}
    {% else %}
    <h1><i>{{ genus }} {{ name }}</i></h1><br>
    {{ description }}<br>
    {% endif %}
{% endblock %}